.contenedor-principal {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.5fr 3.4fr 3.4fr 3.4fr 10.5;
    gap: 0;
}

.header {
    grid-column: 1 / -1;
    grid-row: 1;
}

.main {
    grid-column: 1 / -1;
    grid-row: 2 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a5298;
}

.footer {
    grid-column: 1 / -1;
    grid-row: 5;
}
