:root {

    --color-principal: #f0f0f0;
    --color-secundario: #f0f0f0;
    --color-terciario: #f0f0f0;
    --color-cuaternario: #f0f0f0;
    --color-quintario: #f0f0f0;

    --color-texto-principal: #f0f0f0;
    --color-texto-secundario: #f0f0f0;
    --color-texto-terciario: #f0f0f0;
    --color-texto-cuaternario: #f0f0f0;
    --color-texto-quintario: #f0f0f0;

}